In [1]:
import pandas as ps
a = ps.read_csv("sooooo.csv")
print(a)

          name  chain        type  seat  location  menu items  rate  telephone
0        shila   True  Restaurant    50         1          59   4.7   88862491
1         land   True       Pizza    40         1          45   4.3   88215242
2         naam  False        Café    30         0          20   4.0   88922948
3         noon   True        Café    15         1          15   5.0   38449276
4      shabdiz   True  Restaurant   100         1          42   4.9   38666666
5    neyshekar   True      Pastry     0         1           8   4.0  3724 1053
6    naan reza  False      Bakery     0         0           3   4.0   32259269
7  chorak amin  False      Bakery     0         0          10   4.5  3876 2200
8  iran burger    NaN   Fast Food    20         1          40   4.7  3603 1616